<html>
  <head>
      <title>Your Music</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://dapps.stanford.edu/web3/web3-1.0.0-beta.34.min.js"></script>
      <script src="js/bundle.js"></script>
   </head>
   <body>

       <% include metamask.ejs %>
       <div class="container">
      
        <h1>Your Music</h1>
        <h2> <%= song.name%>" </h2>
        <audio controls>
          <source src="<%= song.filename%>" type="audio/mpeg">
        </audio>

        <button action="/view" method="GET">Home</button>
       </div>
        
      </div>
   </body>
</html>