<html>
  <head>
      <title>Listen</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://dapps.stanford.edu/web3/web3-1.0.0-beta.34.min.js"></script>
      <script src="js/bundle.js"></script>
   </head>
   <body>

       <% include metamask.ejs %>
       <div class="container" id="song" style="display:none">
      
          <h1>Listen</h1>
          <h2> <%= song.name%> </h2>
          <audio controls controlsList="nodownload">
            <source src="../uploads/<%= song.filename%>" type="audio/mpeg">
          </audio>

          <button action="/view" method="GET">Home</button>
       </div>

       <div class="container" id="purchase" style="display:none">
      
          <h1>Purchase a ticket?</h1>
        
          <h2>Cost:</h2>
          <h2 name="price" id="test1"><%= song.price %></h2>
          <h2 name="hostURL" style="display:none" id="test2"><%= song.filename %></h2>

          <button id="purchase_button">Buy Ticket</button>
          <button action="/view" method="GET">Nevermind</button>
       </div>

   </body>
</html>