<html>
  <head>
      <title>Purchase Ticket?</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://dapps.stanford.edu/web3/web3-1.0.0-beta.34.min.js"></script>
      <script src="js/bundle.js"></script>
   </head>
   <body>

       <% include metamask.ejs %>
       <div class="container">
        <h1>Purchase a ticket?</h1>
      
        <h2>Cost:</h2>
        <h2 name="price"><%= song.price %></h2>
        <h2 name="hostURL" style="display:none"><%= song.filename %></h2>

        <button id="purchase_button">Buy Ticket</button>
        <button action="/view" method="GET">Nevermind</button>
       </div>
   </body>
</html>